<div class="home">
  <div class="component">
      <div class="title">
        CUSTOMER FILTER
      </div>
      <div class="discardFilter">
        Discard filters
      </div>
      <div class="body">
        <div class="item">
          <div class="title">
            1.step: Unnamed step
          </div>
          <div class="filter_field">
            <button>page</button>

          </div>
        </div>
        <div class="divider"></div>
        <div class="addStep">
          <button>
            <mat-icon>add</mat-icon>
            ADD FUNNEL STEP
          </button>
        </div>
      </div>
      <button class="apply_button">Apply filters</button>
  </div>
</div>

<router-outlet></router-outlet>
