
<!-- Toolbar -->
<div class="home">
  <div class="component">
      <div class="title">
        CUSTOMER FILTER
      </div>
      <div class="discardFilter">
        Discard filters
      </div>
      <div class="body">
        <div class="item">
          <div class="title">
            1.step: Unnamed step
          </div>
          <div class="filter_field">
            <button>page</button>
          </div>
        </div>
        <div class="divider"></div>
        <div class="addStep">
          <button>
            <svg class="plus_icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
            ADD FUNNEL STEP
          </button>
        </div>
      </div>
      <button class="apply_button">Apply filters</button>

  </div>

</div>

<router-outlet></router-outlet>
